.viewer
{
    text-align: center;
}

.viewer-item__img
{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--color-border);
}

.viewer-multy__carousel
{
    width: 100%;
    height: 400px;
    max-width: 600px;
    max-height: 400px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.multy-carousel__slide
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.multy-carousel__img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--color-border);
}

.viewer-multySelector__carousel
{
    width: 100%;
    height: 400px;
    max-width: 600px;
    max-height: 400px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.multySelector-carousel__slide
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container__img
{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--color-border);
}

.slide-container__overlay
{
    width: 100%;
    height: 100%;
}


  
.selected-slide 
{
    border: 4px solid var(--color-dangerous);
}
  
.slide-container__overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.slide-container__overlay i 
{
    font-size: 48px;
    color: var(--color-dangerous);
}

.overlay_text
{
    font-size: 48px;
    color: var(--color-dangerous);
}

@media (max-width: 767px) {
    .viewer-multy__carousel {
        width: 100%;
        height: 140px;
        max-width: 240px;
        max-height: 140px;
        overflow: hidden;
    }

    .viewer-multySelector__carousel {
        width: 100%;
        height: 140px;
        max-width: 240px;
        max-height: 140px;
        overflow: hidden;
    }

    .overlay_text
    {
        font-size: 20px;
        color: var(--color-dangerous);
    }
}
