<div #register class="register-auth" [style.--width-var]="width+'%'">
    <article class="register-auth__wrapper">
        <!-- <section class="register-auth__social social">
            <p class="social__text">To join us, log in Spotify</p>
            <button class="btn social__btn--facebook">
                <i class="uil uil-facebook-f"></i>
                Facebook 
            </button>
            <button class="btn social__btn--apple">
                <i class="button uil uil-apple"></i>
                Apple
            </button>
            <button class="btn social__btn--google">
                <i class="uil uil-google"></i>
                Google
            </button>
        </section>
        <div class="register-auth__separator">
        </div> -->
        <section>
            <form [formGroup]="form" class="register-auth__form" >
                <div class="register-auth__email">
                    <label class="title" for="email1">Email: </label>
                    <input formControlName="email1" type="text">
                </div>
                <div class="register-auth__confirmEmail">
                    <label class="title" for="email2">Confirm email: </label>
                    <input formControlName="email2" type="text">
                </div>
                <div class="register-auth__password">
                    <label class="title" for="password">Password: </label>
                    <input formControlName="password" type="password">
                </div>
                <div class=" register-auth__username">
                    <label class="title" for="username">Username: </label>
                    <input formControlName="username" type="text">
                </div>
                <div class="register-auth__birthday">
                    <label class="title">Birthday: </label>
                    <div class="birthday-block">
                        <div class="birthday-block__day">
                            <label class="row" for="day">Day: </label>
                            <input formControlName="day" type="text" 
                            inputmode="numeric" maxlength="2" 
                            placeholder="DD" pattern="((0?[1-9])|([12][0-9])|(3[01]))">
                        </div>
                        <div class="birthday-block__month">
                            <label class="row" for="month">Month: </label>
                            <select id="month" formControlName="month" name="month" aria-invalid="false">
                                <option selected="" disabled="" value="">Mes</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">Augost</option>
                                <option value="09">Sptember</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">Decembre</option>
                            </select>
                        </div>
                        <div class="birthday-block__year">
                            <label class="row" for="year">Year: </label>
                            <input formControlName="year" type="text" 
                            inputmode="numeric" maxlength="4" 
                            pattern="(19[0-9]{2})|(200)[0-9]" placeholder="AAAA">
                        </div>
                    </div>
                </div>
                <div class="register-auth__gendre gendre">
                    <label class="title">Gendre: </label>
                    <div class="gendre-block">
                        <div class="gendre-block__male">
                            <input formControlName="gendre" 
                            [checked]="true"
                            type="radio" 
                            name="gendre"
                            value="male" > 
                            Male
                        </div>
                        <div class="gendre-block__female">
                            <input formControlName="gendre"
                            type="radio" 
                            name="gendre"
                            value="female"> 
                            Female
                        </div>
                    </div>
                </div>
                <div class="register-auth__options">
                    <div class="register-auth__submit">
                        <button [disabled]="form.invalid" 
                            (click)="setRegistration()" 
                            class="btn">
                            Register
                        </button>
                    </div>
                </div>
                <div class="register-auth_errors">
                    <p *ngIf="form.get('email1')?.hasError('emailNoAvailable')" class="register-auth_errors--email-in-bbdd">* Email is already in use</p>
                    <p *ngIf="form.get('username')?.hasError('usernameNoAvailable')" class="register-auth_errors--username-in-bbdd">* Username is already in use</p>
                    <p *ngIf="form.get('email2')?.hasError('notEquivalent')" class="register-auth_errors--emails-not-equals">* Emails are not equals</p>
                    <p *ngIf="form.get('maleControl')?.hasError('selectGender')" class="register-auth_errors--gender-not-selected">* Gender not selected</p>
                    <p *ngIf="form.get('password')?.hasError('pattern')" class="register-auth_errors--pass-not-correct">* Password must contain: mayus, number and (!,@,#,$,&)</p>
                </div>
            </form>
        </section>
    </article>
</div>
