<article>
    <section class="comeback-container">
        <a href="">Come back to offers</a>
    </section>
    <section class="groupbox-list">
        <app-groupbox
        [title]="'Selected template'"
        [type] = "groupboxType.selectorAndViewerHorizontal"
        ></app-groupbox>
        
        <app-groupbox
        [title]="'Save new templates'"
        [type] = "groupboxType.inputButtonAndViewerMultyHorizontal"
        ></app-groupbox>
        
        <app-groupbox
        [title]="'Delete templates in app'"
        [type] = "groupboxType.buttonAndViewerMultySelectorHorizontal"
        ></app-groupbox>
    </section>
</article>

