
.login-auth__wrapper
{   
    align-self: center;
    padding: .5rem;
    top: 30%;
    right: var(--width-var); 
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    border: black solid 1px ;
    border-radius: 1rem;
    max-width: 250px;
    margin: auto;
}

.login-auth__social
{
    display: flex;
    flex-direction: column ;
    gap: .5rem;
}

.login-auth__separator
{
    background-color: grey;
    width: 100%;
    height: .1rem;
}

.login-auth__form
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color:var(--color-1)
}

.login-auth__options
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    color:var(--color-1)
}

/* .login-auth__user
{
    
}

.login-auth__password
{
    
} */

.social__btn--facebook
{
    background-color: darkblue;
    color:var(--color-7)
}

.social__btn--apple
{
    background-color: var(--color-1);
    color:var(--color-7)
}

.social__btn--google
{
    background-color: white;
    color:var(--color-1)
}

.social__text
{
    color:var(--color-1);
    margin: .5rem;
}

.btn
{
    border: black solid 1px ;
    border-radius: 1rem;
}

input.ng-invalid.ng-touched {
    border: solid 2px red !important
}
