:root
{
    --squares-button:4px;
    --color-header:pink;
    --color-shadow:black;
    --color-button:pink;
    --color-button-leters:black;
    --color-dangerous:red;
}

body{
    margin:0;
    padding: 0;
}

button
{
    cursor: pointer;
}